@await Html.PartialAsync("_Pmodal")

<section>
    @Context.Session.GetString("query1")
    @Context.Session.GetString("type1")
    @Context.Session.GetString("query2")
    @Context.Session.GetString("year1")
    @Context.Session.GetString("year2")
    @Context.Session.GetString("lang")
    @Context.Session.GetString("type2")
</section>